include head.pug
include navbar.pug

h3(class="main-content-h3") Votre liste des
button(class="main-content-btn")
        a(href="/users/list/add")=addNew
table(class="main-content-table")
        tr
            th Prénom
            th Nom
            th Email
            th Adresse
            th Code postal
            th Action
        each obj in clientObj
                tr
                    td #{obj.firstname}
                    td #{obj.lastname}
                    td #{obj.mail}
                    td #{obj.address}
                    td #{obj.zipcode}
                    td 
                        button
                            a(href=`/users/update/${obj.id}`) editer
                        button
                            a(href=`/users/delete/${obj.id}`) supprimer