include head.pug
include navbar.pug

h2 Supprimer Client
form(action=`${valueId}` method="POST")
    label(for=`${valueId}`) Prénom 
    input(type="text" name="firstname" value=`${valueFirstname}`) 
    label(for=`${valueId}`) Nom
    input(type="text" name="lastname" value=`${valueLastname}`) 
    label(for=`${valueId}`) Email 
    input(type="text" name="mail" value=`${valueMail}`) 
    label(for=`${valueId}`) Adresse 
    input(type="text" name="address" value=`${valueAddress}`) 
    label(for=`${valueId}`) Code Postal
    input(type="text" name="zipcode" value=`${valueZipcode}`) 
    input(type="submit" value="Supprimer le client")