include head.pug
include navbar.pug

h3(class="main-content-h3") Votre liste des
button(class="main-content-btn")
        a(href="/clients/list/add") Ajouter client
table(class="main-content-table")
        tr
            th Prénom
            th Nom
            th Email
            th Adresse
            th Code postal
            th Action
        each obj in values
                tr
                    td #{obj.firstname}
                    td #{obj.lastname}
                    td #{obj.mail}
                    td #{obj.address}
                    td #{obj.zipcode}
                    td 
                        button
                            a(href=`/clients/list/update/${obj.client_id}`) editer
                        button
                            a(href=`/clients/list/delete/${obj.client_id}`) supprimer 