include head.pug
include navbar.pug


h3(class="main-content-h3") Votre liste des
button(class="main-content-btn")
        a(href="/orderboy/list/add") Ajouter Livreur
table(class="main-content-table")
        tr
            th Prénom
            th Nom
            th Mail
            th Vehicule
            th Action
        each obj in values
                tr
                    td #{obj.firstname_boy}
                    td #{obj.lastname_boy}
                    td #{obj.mail_boy}
                    td #{obj.vehicule}
                    td
                        button
                            a(href=`/orderboy/list/update/${obj.orderboy_id}`) edit
                        button
                            a(href=`/orderboy/list/delete/${obj.orderboy_id}`) delete