include head.pug
include navbar.pug

h2 Editer livreur
form(action=`${valueID}` method="POST")
    label(for=`${valueID}`) id 
    label(for=`${valueID}`) Prénom 
    input(type="text" name="firstname" placeholder=valueFirstname) 
    label(for=`${valueID}`) Nom
    input(type="text" name="lastname" placeholder=valueLastName) 
    label(for=`${valueID}`) Email 
    input(type="text" name="mail" placeholder=valueMail) 
    label(for=`${valueID}`) Vehicule
    input(type="text" name="vehicule" placeholder=valueVehicule) 
    input(type="submit" value="Editer le Livreur")