include head.pug
include navbar.pug

h2 Editer Commande
form(action=`${valueId}` method="POST")
    label(for=`${valueId}`) Prix total commande
    input(type="text" name="totalPrice" value=`${valueTotalPrice}`) 
    label(for=`${valueId}`) Id_client
    input(type="text" name="clientId" value=`${valueClientId}`)
    input(type="submit" value="Editer Commande")