include head.pug
include navbar.pug


h3(class="main-content-h3") Votre liste des
button(class="main-content-btn")
        a(href="/users/list/add")=addNew
table(class="main-content-table")
        tr
            th Prénom
            th Nom
            th Mail
            th Vehicule
            th Action
        each obj in <object> 
                tr
                    td #{obj.first_name_boy}
                    td #{obj.last_name_boy}
                    td #{obj.mail_boy}
                    td #{obj.vehicule}
                        button
                            a(href=`/users/list/${obj.id}`) edit
                        button
                            a(href=`/plats/delete/${obj.id}`) delete