include head.pug
include navbar.pug


h3(class="main-content-h3") Votre liste des commandes
button(class="main-content-btn")
        a(href="/orders/list/add") Ajouter commande
table(class="main-content-table")
        tr
            th date commande
            th Prix total
            th Action
        each obj in values
                tr
                    td #{obj.createdAt}
                    td #{obj.total_price}
                    td 
                        button
                            a(href=`/orders/list/details/${obj.order_id}`) Détails commande
                        button
                            a(href=`/orders/list/update/${obj.order_id}`) Editer la commande
                        button
                            a(href=`/orders/list/delete/${obj.order_id}`) Supprimer commande