include head.pug
include navbar.pug

h2 Supprimer le livreur
form(action=`${valueId}` method="POST")
    label(for=`${valueId}`) id 
    label(for=`${valueId}`) Prénom 
    input(type="text" name="firstname" value=`${valueFirstname}`) 
    label(for=`${valueId}`) Nom
    input(type="text" name="lastname" value=`${valueLastname}`) 
    label(for=`${valueId}`) Email 
    input(type="text" name="mail" value=`${valueMail}`) 
    label(for=`${valueId}`) Vehicule
    input(type="text" name="vehicule" value=`${valueVehicule}`) 
    input(type="submit" value="Supprimer le livreur")
