include head.pug
include navbar.pug

h2 Supprimer Commande
form(action=`${valueID}` method="POST")
    label(for=`${valueID}`) Command : #{valueID} 
    input(type="text" name="totalPrice" placeholder=valueTotalPrice) 
    label(for=`${valueID}`) Date de création
    input(type="text" name="createdAt" placeholder=valueCreatedAt) 
    label(for=`${valueID}`) Date de modification
    input(type="text" name="updatedAt" placeholder=valueUpdatedAt) 
    input(type="submit" value="Supprimer Commande")