include head.pug
include navbar.pug

h2 Editer Pizza
form(action=`${valueId}` method="POST")
    label(for=`${valueId}`) Nom Pizza
    input(type="text" name="pizzaName" value=`${valuePizzaName}`) 
    label(for=`${valueId}`) Prix de la pizza en €
    input(type="text" name="price" value=`${valuePricePizza}`) 
    input(type="submit" value="Editer Pizza")