include head.pug
include navbar.pug

h3(class="main-content-h3") Votre liste des
button(class="main-content-btn")
        a(href="/pizza/add")=addNew
table(class="main-content-table")
        tr
            th Nom Pizza
            th Prix €
        each obj in <object> 
                tr
                    td #{obj.pizza_name}
                    td #{obj.price} €
                        button
                            a(href=`/pizza/update/${obj.id}`) edit
                        button
                            a(href=`/pizza/delete/${obj.id}`) delete