include head.pug
include navbar.pug

h2 Editer l'utilisateur
form(action=`${valueID}` method="POST")
    label(for=`${valueID}`) id 
    label(for=`${valueID}`) Nom utilisateur
    input(type="text" name="userName" placeholder=valueUsername) 
    label(for=`${valueID}`) Email 
    input(type="text" name="email" placeholder=valueMail) 
    label(for=`${valueID}`) Mot de passe
    input(type="text" name="password" placeholder=valuePassword) 
    input(type="submit" value="Mettre à jour")