include head.pug
include navbar.pug

h3(class="main-content-h3") Votre liste des Utilisateurs
button(class="main-content-btn")
        a(href="/users/list/add") Ajouter un nouvel utilisateur
table(class="main-content-table")
        tr
            th Nom utilisateur
            th Email
            th Créé le:
            th Mis à jour le
            th Action
        each obj in values
                tr
                    td #{obj.user_name}
                    td #{obj.email}
                    td #{obj.createdAt}
                    td #{obj.updatedAt}
                    td
                        button
                            a(href=`/users/list/update/${obj.user_id}`) edit
                        button
                            a(href=`/users/list/delete/${obj.user_id}`) delete